[submodule "wasm-micro-runtime"]
	path = wasm-micro-runtime
	url = https://github.com/project-ocre/wasm-micro-runtime.git
	branch = staging
[submodule "ocre-sdk"]
	path = ocre-sdk
	url = https://github.com/project-ocre/ocre-sdk.git
[submodule "tests/Unity"]
	path = tests/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
