#include <zephyr/dt-bindings/pinctrl/stm32-pinctrl.h>

/ {
    aliases {
        rng0 = &rng_device;
        led0 = &green_led_1;
		led1 = &red_led_1;
    };

    leds {
		compatible = "gpio-leds";
		green_led_1: led_1 {
			gpios = <&gpioh 7 GPIO_ACTIVE_LOW>;
			label = "User LD7";
		};
		red_led_1: led_3 {
			gpios = <&gpioh 6 GPIO_ACTIVE_LOW>;
			label = "User LD6";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		user_button: button {
			label = "User";
			gpios = <&gpioc 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			zephyr,code = <INPUT_KEY_0>;
		};
	};

    rng_device: rng_0 {
        compatible = "custom,rng-sensor";
        label = "RNG Sensor";
        status = "okay";
    };

    devices {
        compatible = "custom,devices";
        status = "okay";
        device_list = <&rng_device &ism330dhcx &lps22hh &hts221 &iis2mdc &veml6030>;
    };
};

// Add labels for sensors defined in the board .dtsi file, and any other user configuration
// This is required so we can reference them in the devices block above, which is used by ocre_sensors
&i2c2 {
    ism330dhcx: ism330dhcx@6b { 
        label = "imu";
        status = "okay";
        accel-odr = <4>;    // 104 Hz
        accel-range = <4>;  // ±4 g
        gyro-odr = <4>;     // 104 Hz
        gyro-range = <250>; // ±250 dps
    };
    lps22hh: lps22hh@5d { 
        label = "pressure";
        status = "okay";
    };
    hts221: hts221@5f { 
        label = "humidity";
        status = "okay";
    };
    iis2mdc: iis2mdc@1e { 
        label = "magnetometer";
        status = "okay";
    };
    veml6030: veml6030@10 { 
        label = "light";
        status = "okay";
    };
};

&spi1 {
    eth0: ethernet@0 {
        status = "okay";
        reg = <0>;
        // W5500 Ethernet Shield
        compatible = "wiznet,w5500";
        int-gpios = <&gpiod 15 GPIO_ACTIVE_LOW>;
        spi-max-frequency = <32000000>;
        local-mac-address = [ 00 80 00 01 02 03 ];
    };
};

/* Optional: flash partitions */
&flash0 {
    partitions {
        user_data_partition: partition@100000 {
            label = "user_data";
            reg = <0x00100000 DT_SIZE_K(256)>;
        };
    };
};

&die_temp {
    status = "disabled";
};

&adc1 {
    status = "disabled";
};

&vref1 {
    status = "disabled";
};

&vbat4 {
    status = "disabled";
};
