&spi1 {
    eth0: ethernet@0 {
        status = "okay";
        reg = <0>;
        compatible = "microchip,enc28j60";
        int-gpios = <&gpioc 1 GPIO_ACTIVE_LOW>;
        spi-max-frequency = <10000000>;
        local-mac-address = [ 00 80 00 01 02 03 ];
        full-duplex;
    };
};
