/ {
    aliases {
        rng0 = &rng_device;
        led0 = &led0;
    };

    rng_device: rng_0 {
        compatible = "custom,rng-sensor";
        label = "RNG Sensor";
        status = "okay";
    };

    devices {
        compatible = "custom,devices";
        status = "okay";
        device_list = <&rng_device>;
    };
};

/* Enable one LED for blinky */
&led0 {
    status = "okay";
};

&flash0 {
    partitions {
        /delete-node/ partition@f8000;

        user_data_partition: partition@e0000 {
            label = "user_data";
            reg = <0x000e0000 DT_SIZE_K(128)>;
        };
    };
};
