# @copyright Copyright (c) contributors to Project Ocre,
# which has been established as Project Ocre a Series of LF Projects, LLC
#
# SPDX-License-Identifier: Apache-2.0

name: Zephyr devcontainer

on:
  workflow_call:
    outputs:
      devcontainer-tag:
        value: ${{ jobs.necessary.outputs.devcontainer-tag }}

jobs:
  necessary:
    name: Necessary?
    runs-on: ["self-hosted", "build-server"]
    outputs:
      build: ${{ steps.changed-files.outputs.all_changed_and_modified_files != '' }}
      devcontainer-tag: ${{ steps.devcontainer-tag.outputs.tag }}

    steps:
      - name: Clean other workspace
        run: rm -rf ../.west

      - name: Clean workspace
        run: find . -name . -o -prune -exec rm -rf -- {} +

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62
        id: changed-files
        with:
          exclude_submodules: true
          files: |
            .devcontainer/zephyr/Dockerfile
            west.yml

      - name: Set devcontainer tag
        id: devcontainer-tag
        run: |
          tag=${{ steps.changed-files.outputs.all_changed_and_modified_files != '' && github.ref != 'refs/heads/main' && github.sha || 'latest' }}
          echo "tag=$tag" >> $GITHUB_OUTPUT

  build-push:
    name: Build and push
    timeout-minutes: 60
    if: ${{ needs.necessary.outputs.build == 'true' }}
    needs:
      - necessary
    runs-on: ["self-hosted", "build-server"]

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Github Registry
        uses: docker/login-action@v3
        with:
          username: ${{ github.actor }}
          password: ${{ github.token }}
          registry: ghcr.io

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: .devcontainer/zephyr/Dockerfile
          target: ocre-ci
          push: true
          tags: ghcr.io/${{ github.repository }}/devcontainer-zephyr:${{ needs.necessary.outputs.devcontainer-tag }}
