name: Main

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - labeled
  push:
    branches:
      - main

concurrency:
  group: ${{ github.repository }}-${{ github.workflow }}@main-${{ github.ref }}
  cancel-in-progress: true

jobs:
  linux-devcontainer:
    name: Linux devcontainer
    uses: ./.github/workflows/devcontainer-linux.yml
    secrets: inherit
    permissions:
      contents: read
      packages: write
    with:
      ref: ${{ github.sha }}

  zephyr-devcontainer:
    name: Zephyr devcontainer
    uses: ./.github/workflows/devcontainer-zephyr.yml
    secrets: inherit
    permissions:
      contents: read
      packages: write
    with:
      ref: ${{ github.sha }}

  linux:
      name: Linux
      needs:
        - linux-devcontainer
      uses: ./.github/workflows/linux.yml
      secrets: inherit
      with:
        devcontainer-tag: ${{ needs.linux-devcontainer.outputs.devcontainer-tag }}
        ref: ${{ github.sha }}

  zephyr:
      name: Zephyr
      needs:
        - zephyr-devcontainer
      uses: ./.github/workflows/zephyr.yml
      secrets: inherit
      with:
        devcontainer-tag: ${{ needs.zephyr-devcontainer.outputs.devcontainer-tag }}
        ref: ${{ github.sha }}
