name: Zephyr

on:
  workflow_call:
    inputs:
      devcontainer-tag:
        description: The container tag to be used
        default: latest
        required: false
        type: string
      ref:
        type: string
        required: true

jobs:
  build-zephyr:
    name: Zephyr build
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}/devcontainer-zephyr:${{ inputs.devcontainer-tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: West init
        run: . /home/ocre-dev/.venv/bin/activate && west init -l .

      - name: West update
        run: . /home/ocre-dev/.venv/bin/activate && west update
